.all-features form{
    display: flex;
    flex-direction: column !important;
    width: 60%;
    align-items: flex-start;
    gap: 1rem !important;
    margin: 2%;
}
.all-features{
    padding: 0% 0% 1% 10%;
}

.check-access{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.check-access input{
    align-self: auto !important;
    width: 50px !important;
}
main {
    /* max-width: 100%; */
    min-height: 1300px;
    margin: auto;
    background: linear-gradient(rgba(40, 67, 104, 0.687)), url('../../images/RZA-images/savannah\ biome.jpg') center;
    /* background-color: rgba(255, 255, 255, 0.524); */
    background-repeat: no-repeat;
    background-size: cover;
}
.option{
    border: 2px solid white;
    padding: 1%;
    /* background-color: black; */
}
.option label{
    background-color: orange;
    padding: 5%;
    font-size: clamp(1rem, 6vw, 2rem);
    color: white;
}
.option:not(.check){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input[type="submit"]{
    padding: 2rem;
}