@media(max-width: 1000px){
    .all-features{
        padding: 1rem;
    }
    .all-features form{
        width: 100%;
        margin: 0;
    }
    .access-form{
        padding: 0;
    }
    .option label{
        width: 50%;
    }
    .option select{
        width: 30%;
        font-size: 20px;
    }
    input[type="submit"]{
        width: 100%;
    }
}