* {
    box-sizing: border-box !important;
}

button {
    border-radius: 0 !important;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.123)), url('../../images/RZA-images/book\ A\ visit.jpg') center;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .promotion {
    background-image: url('../images/RZA-images/background/homepage.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


/* ---------------------------------- */
.bold {
    font-weight: 800;
}

.green {
    color: rgb(116, 255, 116);
}

.orange {
    color: orange;
}

.white {
    color: white;
}

mark {
    background-color: rgba(48, 57, 76, 0.422);
}

/* ---------------------------------- */
img {
    width: 200px;
}

.banner .logo img {
    width: 400px;
}

.banner {
    font-size: 20px;
}

.banner a {
    color: white;
    cursor: pointer;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
}

.items>* {
    padding: 1rem;
}

.search {
    width: 70%;
    background-color: orange;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.search img {
    height: 40px;
    width: 20%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.search input {
    height: 40px;
    width: 80%;
    background-color: orange;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    color: white;
}

.search input::placeholder {
    color: white;
    opacity: 50%;
}

.action-btn {
    cursor: pointer;
    width: fit-content;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.action-btn a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.nav-btn {
    width: 100px;
}

.nav-btn img {
    width: 50px;
}

nav {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: fit-content;
    position: fixed;
    right: -20%;
    top: 0;
    z-index: 999;
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    width: 20vw;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    cursor: pointer;
}

nav #close-nav {
    /* margin-left: 10%; */
    background-color: black;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transition: all 0.2s ease-in-out;
    color: white;
    font-size: 30px;
    font-weight: 700;
    width: 50%;
}

nav.open {
    right: 0;
    display: flex;
}

nav a {
    color: black;
}

#close-nav {
    color: black;
    cursor: pointer;
    font-size: 1.4rem;
}

.cancel {
    height: 10%;
}

.home {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.nav-items>* {
    padding: 3%;
}

.nav-items a:not(.home-link) {
    text-decoration: none;
    font-size: 20px;
}

.nav-items a:not(.home-link):hover {
    color: white;
}

.more-options {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    margin: 40px 0px;
}

.more-options>* {
    width: 90%;
    height: 300px;
    /* height: 200px; */
    background-color: orange;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-options>* h3 {
    text-align: center;
}

.info a {
    color: white;
}

.upcoming-events:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.sites:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.learning:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textual {
    width: 50%;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding: 25px;
}

.textual h3 {
    font-size: 3rem;
}

.text-content p {
    text-align: justify;
    /* text-align-last: center; */
}

.text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}


.faq {
    display: flex;
    flex-direction: column;
}


.k-icon {
    object-fit: cover;
    width: 40px;
}

.image-capture img {
    width: auto;
}

.bordered-btn button {
    height: 100px;
    width: 300px;
    border-radius: 10px !important;
    font-size: 20px;
    color: white;
}

.bordered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imaging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 15%;
}

main {
    max-width: 100%;
    min-height: 1000px;
    margin: auto;
    background: linear-gradient(rgba(2, 19, 43, 0.253)), url('../../images/RZA-images/savannah\ biome.jpg') center;
    /* background-color: rgba(255, 255, 255, 0.524); */
    background-repeat: no-repeat;
    background-size: cover;
}

main p {
    font-size: 18px;
}

.line {
    height: 80%;
    width: 2px;
    background-color: white;
}

footer {
    color: white;
    background-color: rgb(108, 190, 108);
    height: 400px;
    max-width: 100%;
    position: relative;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
}

footer>* {
    width: 100% !important;
    height: 100% !important;
    padding: 5%;
    border-right: 1px solid white;
}

footer h4 {
    text-decoration: underline;
    text-align: left;
}

.col-1 {
    grid-column: 1 / span 1;
}

.col-1 .addrr {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.col-1 img {
    width: 50%;
}

.col-2 {
    grid-column: 2 / span 1;
}

.col-2 .links {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
}

.col-2 a {
    color: white;
    text-decoration: none;
}

.col-3 {
    grid-column: 3 / span 1;
}

.accessebility {
    grid-column: 4 / span 1;
}

body {
    overflow-x: scroll !important;
}

footer .accessebility img {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 5%;
}

.footer a {
    color: white;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 50px;
}
.heading>* {
    background-color: rgba(0, 75, 78, 0.623);
    color: white;
    width: 70%;
    padding: 1rem;
}

.heading h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 !important;
}

.heading h2 {
    width: fit-content !important;
    margin: 0 !important;
    /* align-self: center; */
}

.inputs{
    width: 30%; 
}

form input{
    height: 60px;
    width: 100%;
}