@media(max-width: 1000px){
    .more-options{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .text-content{
        display: flex;
        flex-direction: column;
    }
    .text-content > * {
        width: 100%;
    }
    .bordered{
        padding: 25px;
    }

}