/* --------------------------------------------------------------------------------------------------Constants on all pages */
* {
    box-sizing: border-box !important;
    /* outline: 3px solid magenta; */
}

input {
    outline: none !important;
}

button {
    border-radius: 0 !important;
}

header {
    background-color: rgba(255, 255, 255, 0);
}

/* ---------------------------------- */
.bold {
    font-weight: 800;
}

.green {
    color: rgb(116, 255, 116);
}

.orange {
    color: orange;
}

.white {
    color: white;
}

mark {
    background-color: rgba(48, 57, 76, 0.422);
}

/* ---------------------------------- */
img {
    width: 200px;
}

.banner .logo img {
    width: 400px;
}

.banner {
    font-size: 20px;
}

.banner a {
    color: white;
    cursor: pointer;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
}

.items>* {
    padding: 1rem;
}

.search {
    width: 70%;
    background-color: orange;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.search img {
    height: 40px;
    width: 20%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.search input {
    height: 40px;
    width: 80%;
    background-color: orange;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    color: white;
}

.search input::placeholder {
    color: white;
    opacity: 50%;
}

.action-btn {
    cursor: pointer;
    width: fit-content;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.action-btn a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.nav-btn {
    width: 100px;
}

.nav-btn img {
    width: 50px;
}

nav {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: fit-content;
    position: fixed;
    right: -20%;
    top: 0;
    z-index: 999;
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    width: 20vw;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    cursor: pointer;
}

nav #close-nav {
    /* margin-left: 10%; */
    background-color: black;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transition: all 0.2s ease-in-out;
    color: white;
    font-size: 30px;
    font-weight: 700;
    width: 50%;
}

nav.open {
    right: 0;
    display: flex;
}

nav a {
    color: black;
}

#close-nav {
    color: black;
    cursor: pointer;
    font-size: 1.4rem;
}

.cancel {
    height: 10%;
}

.home {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.nav-items>* {
    padding: 3%;
}

.nav-items a:not(.home-link) {
    text-decoration: none;
    font-size: 20px;
}

.nav-items a:not(.home-link):hover {
    color: white;
}

/* --------------------------------Change main on differnt pages */
main {
    max-width: 100%;
    min-height: 1000px;
    position: relative;
}

.top-main {
    background: linear-gradient(rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0.388)), url('../../images/RZA-images/background\ Register.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 1000px; */
    height: 100%;
}
.bottom-main{
    min-height: 1000px;
    background-image: url('../../images/RZA-images/pills.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

main p {
    font-size: clamp(.5rem, 6vw, 1rem);
}

/* --------------------------------Change main on differnt pages */


footer {
    color: white;
    background-color: rgb(108, 190, 108);
    min-height: 400px;
    max-width: 100%;
    position: relative;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
}

footer>* {
    width: 100% !important;
    height: 100% !important;
    padding: 5%;
    border-right: 1px solid white;
}

footer h4 {
    text-decoration: underline;
    text-align: left;
}

.col-1 {
    grid-column: 1 / span 1;
}

.col-1 .addrr {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.col-1 img {
    width: 50%;
}

.col-2 {
    grid-column: 2 / span 1;
}

.col-2 .links {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
}

.col-2 a {
    color: white;
    text-decoration: none;
}

.col-3 {
    grid-column: 3 / span 1;
}

.accessebility {
    grid-column: 4 / span 1;
}


footer .accessebility img {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 5%;
}

.footer a {
    color: white;
}

/* --------------------------------------------------------------------------------------------------Constants on all pages */


.top-main h1{
    font-size: clamp(3rem, 6vw, 5rem);
}
.top-main h2{
    font-size: clamp(1rem, 6vw, 5rem);
}
.textual p{
    width: 50%;
}
.textual{
    padding: 1% 1% 0 10%;
}
.bottom-main h1{
    width: 100%;
    padding: 1rem;
    line-height: 3cm;
    text-align: center;
    font-size: clamp(.5rem, 6vw, 4rem);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 3rem; */
    gap: 2rem;
    padding: 0rem 0rem 1rem 2rem;
}

.article{
    width: 50%;
    border-left: 1px dashed rgba(0, 0, 0, 0.167);
    padding: 1rem;
}
.article .save-the-rhino img{
    width: 70%;
    align-self: center;
    border: 30px solid orange;
    border-radius: 100px 20px 80px 30px;
    outline: 2px solid rgb(17, 19, 17);
}
.save-the-rhino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form{
    width: 50%;
    border-right: 1px dashed rgba(0, 0, 0, 0.167);
    border-width: 3px;
    padding: 1rem;
}
input::placeholder {
    color: white;
    text-align: start;
}

.form .check input[type="checkbox"]{
    height: 30px !important;
    width: 40px !important;
}
/* form .check input[type="checkbox"]:checked{
    background-color: orange;
    color: orange;
} */
.check{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.form input:not(input[type="submit"]){
    background-color: orange;
    height: 80px;
    width: 100%;
    border-style: none;
    opacity: 90%;
    color: white;
    padding-left: 10px;
}
.form input[type="submit"]{
    width: 20%;
}
