main .content{
    width : 80%
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    width: 100%;
}
th, td, tr{
    border: 1px solid black;
    text-align: center;
}
table{
    width: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}
.new{
    width: 50%;
}
.prices{
    width: 50%;
}
.prices table{
    height: 100%;
    width: 100%;
}