* {
    box-sizing: border-box !important;
}

button {
    border-radius: 0 !important;
}
/* 
header {
    background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.123)), url('../../images/RZA-images/book\ A\ visit.jpg') center;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

/* .promotion {
    background-image: url('../images/RZA-images/background/homepage.png');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


/* ---------------------------------- */
.bold {
    font-weight: 800;
}

.green {
    color: rgb(116, 255, 116);
}

.orange {
    color: orange;
}

.white {
    color: white;
}

mark {
    background-color: rgba(48, 57, 76, 0.422);
}

/* ---------------------------------- */
img {
    width: 200px;
}

.banner .logo img {
    width: 400px;
}

.banner {
    font-size: 20px;
}

.banner a {
    color: white;
    cursor: pointer;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
}

.items>* {
    padding: 1rem;
}

.search {
    width: 70%;
    background-color: orange;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.search img {
    height: 40px;
    width: 20%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.search input {
    height: 40px;
    width: 80%;
    background-color: orange;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    color: white;
}

.search input::placeholder {
    color: white;
    opacity: 50%;
}

.action-btn {
    cursor: pointer;
    width: fit-content;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.action-btn a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.nav-btn {
    /* width: 100px; */
}

.nav-btn img {
    width: 50px;
}

nav {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: fit-content;
    position: fixed;
    right: -20%;
    top: 0;
    z-index: 999;
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    width: 20vw;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    cursor: pointer;
}

nav #close-nav {
    /* margin-left: 10%; */
    background-color: black;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    transition: all 0.2s ease-in-out;
    color: white;
    font-size: 30px;
    font-weight: 700;
    width: 50%;
}

nav.open {
    right: 0;
    display: flex;
}

nav a {
    color: black;
}

#close-nav {
    color: black;
    cursor: pointer;
    font-size: 1.4rem;
}

.cancel {
    height: 10%;
}

.home {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.nav-items>* {
    padding: 3%;
}

.nav-items a:not(.home-link) {
    text-decoration: none;
    font-size: 20px;
}

.nav-items a:not(.home-link):hover {
    color: white;
}

.more-options {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    margin: 40px 0px;
}

.more-options>* {
    width: 90%;
    height: 300px;
    /* height: 200px; */
    background-color: orange;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-options>* h3 {
    text-align: center;
}

.info a {
    color: white;
}

.upcoming-events:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.sites:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.learning:hover {
    h3 {
        display: none;
    }

    .info {
        display: flex;
    }

    background-color: rgb(90, 215, 90);
    color: white;
}

.info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textual {
    width: 50%;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding: 25px;
}

.textual h3 {
    font-size: 3rem;
}

.text-content p {
    text-align: justify;
    /* text-align-last: center; */
}

.text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}


.faq {
    display: flex;
    flex-direction: column;
}


.k-icon {
    object-fit: cover;
    width: 40px;
}

.image-capture img {
    width: auto;
}

.bordered-btn button {
    height: 100px;
    width: 300px;
    border-radius: 10px !important;
    font-size: 20px;
    color: white;
}

.bordered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imaging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 15%;
}


/* main > *{
    min-height: 900px;
} */

main {
    /* max-width: 100%; */
    min-height: 1000px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.589)), url('../../images/RZA-images/stairs.jpg') center;
    /* background-color: rgba(255, 255, 255, 0.524); */
    background-repeat: repeat;
    background-size: 60%;
}

main p {
    font-size: 18px;
}

.line {
    height: 80%;
    width: 2px;
    background-color: white;
}

footer {
    color: white;
    background-color: rgb(108, 190, 108);
    min-height: 400px;  
    max-width: 100%;
    position: relative;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
}

footer>* {
    width: 100% !important;
    height: 100% !important;
    padding: 5%;
    border-right: 1px solid white;
}

footer h4 {
    text-decoration: underline;
    text-align: left;
}

.col-1 {
    grid-column: 1 / span 1;
}

.col-1 .addrr {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.col-1 img {
    width: 50%;
}

.col-2 {
    grid-column: 2 / span 1;
}

.col-2 .links {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
}

.col-2 a {
    color: white;
    text-decoration: none;
}

.col-3 {
    grid-column: 3 / span 1;
}

.accessebility {
    grid-column: 4 / span 1;
}

body {
    overflow-x: scroll !important;
}

footer .accessebility img {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 5%;
}

.footer a {
    color: white;
}

/* ----------------------------------------------------------------------------- */

/* u{
    color: rgb(90, 226, 90);
} */
.book-heading{
    border-bottom: 5px solid orange;
}
.inputs h2{
    color: white;
}
form{
    color: white;
}
input::placeholder {
    color: white;
    text-align: start;
}

form .check input[type="checkbox"]{
    height: 30px !important;
    width: 40px !important;
}

.check{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

form input:not(input[type="submit"]){
    background-color: orange;
    height: 80px;
    width: 100%;
    border-style: none;
    opacity: 90%;
    color: black;
    padding-left: 10px;
}
form input[type="submit"]{
    width: 100%;
}
.qty-visitors, .qty-rooms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.qty-visitors input, .qty-rooms input{
    width: 20% !important;
}
.qty-visitors label, .qty-rooms label{
    width: 80%;
    font-size: 30px;
}

.all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 0% 0% 1% 2%;
}
.inputs{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    margin: 3%;
}
.disclaimer{
    text-align: justify;
    text-align-last: center;
    font-weight: 600;
}
.images{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
    margin: 3%;
}
.images img{
    width: 400px;
    margin:0% 4%;
    border-radius: 10px;
}
.left-align{
    align-self: flex-start;
}
.smaller-section{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding: 1%;
    margin: 3%;
    /* border-top: 3px solid white; */
}
.smaller-section h1{
    text-align: center;
}
.room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-left: 3px solid white;
}
.room h2{
    text-align: center;
}
.room-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.room img:not(.arrow){
    width: 50%;
}
.arrow-background{
    border: 10px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    height: 100%;
    width: 50%;
    /* border: 10px solid orange; */
}
.below{
    display: none;
}