main {
    max-width: 100%;
    min-height: 1000px;
    margin: auto;
    background: linear-gradient(rgba(20, 20, 20, 0.514), rgba(0, 0, 0, 0.623)), url('../../images/RZA-images/pocupine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.points{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* border: 3px solid orange; */
    padding: 1%;
}
.points a{
    border-radius: .25rem;
    background-color: black;
    border: 1px solid white;
}