main {
    max-width: 100%;
    min-height: 1000px;
    margin: auto;
    background: linear-gradient(rgba(20, 20, 20, 0.514), rgba(0, 0, 0, 0.623)), url('../../images/RZA-images/pocupine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}