@media(max-width: 1000px){
    *{
        /* outline: 3px solid magenta; */
    }
    .no-headings{
        display: flex;
        flex-direction: column;
    }
    .no-headings > *{
        width: 100%;
    }
    .content{
        padding: 1rem;
    }
    .register{
        /* border-top: 3px solid white; */
        border-left: 0;
    }
    .input{
        border-bottom: 3px solid white;
        border-right: 0;
        padding: 0;
        padding-bottom: 2rem;
    }
    .action{
        flex-wrap: wrap;
    }
    .loginMain{
        background-attachment: fixed;
    }
}